img{
    width: 15%;
    
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: rgb(90, 3, 90);
}
td img{
    width: 11%;
}
td,th{
    color: white;
}
.tabl1{
    width: 90%;
    margin-left: 5%;
    border-collapse: collapse;
}
input{
    width: 40%;
    flex-direction: row;
    margin-left: 6%;
    padding: 2%;
}
